.c-header {
    color: #fff;
    text-align: center;

    @include has(content) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        min-height: 200px;
        padding-bottom: 20px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 5px;

        @include m(subpage) {
            margin-top: 0px;
            padding-top: 25px;
        }

        @include m(light) {
            background: rgba(255, 255, 255, 0.6);
        }

        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    @include has(title) {
        color: #163762;
        font-size: 40px;
        line-height: 50px;
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 25px;
        }
    }

    @include has(text) {
        font-size: 2.5rem;
        font-weight: 600;
        color: darken(#5d6771, 15%);
    }

    @include has(comment) {
        font-size: 2.2rem;
        font-weight: 600;
        color: darken(#5d6771, 15%);
    }

    @include has(subtitle) {
        color: darken(#5d6771, 15%);
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    @include has(phone) {
        color: #163762;
        font-size: 21px;
        font-weight: 600;
        text-decoration: underline;
    }

    @include has(button) {
        width: 285px;
    }
}

.hero-carousel {
    background-image: url('/images/slider.png');
    background-position: center;
    min-height: 580px;
}

#header {
    background: rgba(255, 255, 255, 0.8);
}

#header .navbar-default.navbar-collapsed-sm {
    border: none;
}

.bg-about {
    display: flex;
    align-items: center;
    background-image: url('images/bg-about.png');
    min-height: 350px;
    background-position: center;
}

.bg-contact {
    display: flex;
    align-items: center;
    background-image: url('images/2019-contact.png');
    min-height: 350px;
    background-position: center;
}

.bg-commerce {
    background-image: url('images/commerce.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-garage {
    background-image: url('images/truck-garage.png');
    background-position: right;
}

