.c-header {
    color: #fff;
    text-align: center;

    @include has(content) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
        min-height: 200px;

        @media (max-width: 767px) {
            margin-top: 7px;
        }
    }

    @include has(title) {
        font-size: 40px;
        line-height: 50px;
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 25px;
        }
    }

    @include has(text) {
        font-size: 2rem;
    }

    @include has(comment) {
        font-size: 1.8rem;
    }

    @include has(subtitle) {
        color: #fff;
        font-weight: 300;
        margin-bottom: 20px;
    }

    @include has(phone) {
        font-size: 21px;
    }

    @include has(button) {
        width: 285px;
    }
}
