.panel {
    background: darken(#fff, 2%);
}

.panel.panel-image .panel-heading {
    max-height: 200px;
}

.panel.panel-image .panel-body {
    font-size: 18px;
    min-height: 305px;
}

.panel__button {
    background: none;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    text-transform: uppercase;

    &:hover {
        color: lighten(#d10a11, 20%)
    }
}
