@import "_mixins";
@import "utilities/_color";

@import "components/_header";
@import "components/_panels";
@import "components/_services";

#header {
    background: rgba(255, 255, 255, 0.9);
}

#header .navbar-default.navbar-collapsed-sm .navbar-nav > li > a span {
    color: #163762;
    font-weight: 600;
    text-shadow: none;
    text-transform: uppercase;

    &:hover {
        color: #5d6771;
    }
}

#header .navbar-default.navbar-collapsed-sm .navbar-nav > li.active > a span {
    color: #5d6771;
}


@media (max-width: 767px) {

    #header .container {
        padding: 0;
    }

    #header .navbar-default.navbar-collapsed-sm .navbar-toggle {
        margin-right: 5px;
    }

    #header .navbar-default.navbar-collapsed-sm .navbar-collapse {
        background-color: #163762;
    }

    #header .navbar-default.navbar-collapsed-sm .navbar-nav > li > a span {
        color: #fff;
    }

    #header .navbar-default.navbar-collapsed-sm .navbar-toggle .icon-bar {
        background-color: #163762;
    }
}

#main-content-header .title {
    color: #163762;
}

@media (min-width: 768px) {
    .icon-boxes .icon {
        margin-right: 5px;
    }
}

.title {
    color: #163762;
}

.mt-70 {
  margin-top: 70px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-20 {
    margin-top: 20px;
}

#wrapper {
  background: #000;
  background-repeat: no-repeat;
  background-position: center 0;
  background-image: url("../../images/slider.png");
}

.img-rounded {
  border-radius: 2px;
  border: 1px solid #eaedf2;
}

.title-bg {
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

.text-boxes .text-box p{
  margin: 10px 0;
}

.sale-btn {
  padding: 0;
  border: none;
  background: none;
  color: #d10a11;
  font-size: 16px;
  text-transform: uppercase;
  &:hover {
    color: #434955;
  }
}

.subscribe-btn {
  background: #434955;
  border-color: #434955;
  &:hover {
    background: #d10a11;
    border-color:#d10a11;
  }
}

.form-contact-submit {
    font-size: 18px;
}

//login
.red-heading {
  background: #d10a11; 
  color: #fff;
}

.flag {
    display: flex;
    align-items: center;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}

#footer #footer-main {
    background-color: #5d6771;
    color: #fff;
}
